@charset "UTF-8";
.hide-me {
  visibility: hidden;
}

button {
  background-color: #046380;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-left: 18px;
  /*transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;*/
  position: relative;
  top: -10px;
}

button:active {
  background-color: #034154;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: 2px;
}
